[SddmGreeterTheme]
Name=Precision Overcast
Description=Umizaru login screen, Precision Overcast
Author=mcm
License=MIT
Type=sddm-theme
Version=1.0
Website=https://github.com/mcm/umizaru
MainScript=Main.qml
ConfigFile=theme.conf
