[SddmGreeterTheme]
Name=Precision Overcast
Description=Kumori login screen, Precision Overcast
Author=mcm
License=MIT
Type=sddm-theme
Version=1.0
Website=https://github.com/mcm/kumori
MainScript=Main.qml
ConfigFile=theme.conf
